{{ partial "header.html" . }}

<div class="container">
   {{ partial "menu.html" . }}
   <div class="row">
      <div class="col-md-8">
         <center>
            <h1>Vult Modules for VCV Rack</h1>
         </center>
         <center>
            <img src="images/modules.png" alt="Modules" style="width:100%;margin-top:40px;margin-bottom:40px;"> </center>


         <p>
            This is a set of modules that have been carefully designed to fit the Eurorack style of VCV Rack. The modules are coded in
            the Vult programming language.
         </p>
         <p>
            The Vult modules are "Virtual Analog". The internals of the modules are modeled using electrical circuits and differential
            equations, but some behaviors have been simplified when they are easier to do in code. These modules are not
            emulations of an specific Eurorack module. In the case of the filters the modules try to capture the essence
            and the sound of the analog versions, and at the same time provide very good performance. Some of the modules,
            like Trummor 2, were inspired by existing hardware but have evolved into complete original designs.
         </p>

         <h2>Design Philosophy</h2>

         <p>
            When designing these modules I have established the following rules:
         </p>
         <ul>
            <li>it should look like a real Eurorack module</li>
            <li>the interaction has to be limited to real hardware components (knobs, switches, etc.)</li>
            <li>if I cannot build the real hardware, I will not build the software</li>
            <li>and of course, the module needs to sound good</li>
         </ul>
         <p>Following these rules helps me constrain the ideas for modules I have. But I may break them in the future.</p>

         <h2> List of Modules </h2>
         <h4 id="filters">Filters</h4>

         <center>
            <img src="images/Filters.png" alt="Filters" style="width:100%;margin-top:40px;margin-bottom:40px;"> </center>


         <ul>
            <li>
               <a href="https://modlfo.github.io/VultModules/lateralus/">Lateralus</a>: Diode ladder Filter.</li>
            <li>
               <a href="https://modlfo.github.io/VultModules/vortex/">Vortex</a>: Russian Filter.</li>
            <li>
               <a href="https://modlfo.github.io/VultModules/tangents/">Tangents</a>: Steiner-Parker Filter.</li>
            <li>
               <a href="https://modlfo.github.io/VultModules/stabile/">Stabile</a>: State Variable Filter.</li>
            <li>
               <a href="https://modlfo.github.io/VultModules/unstabile/">Unstabile</a>: Circuit Bent State Variable Filter.</li>
            <li>
               <a href="https://modlfo.github.io/VultModules/rescomb/">Rescomb</a>: Resonant Comb Filter.</li>
            <li>
               <a href="https://modlfo.github.io/VultModules/julste/">Julste</a>: Low Pass Gate. Buchla model.</li>
            <li>
               <a href="https://modlfo.github.io/VultModules/tohe/">Tohe</a>: Tone Control.</li>
         </ul>
         <h4 id="effects">Effects</h4>
         <center>
            <img src="images/Effects.png" alt="Effects" style="width:100%;margin-top:40px;margin-bottom:40px;"> </center>

         <ul>
            <li>
               <a href="https://modlfo.github.io/VultModules/debriatus/">Debriatus</a>: Wave Destruction. Wave Folder, Bit Crusher, Distortion and Saturation.</li>
            <li>
               <a href="https://modlfo.github.io/VultModules/flame/">Flame</a>: Analog distortion based on guitar pedals.</li>
         </ul>
         <h4 id="envelopes-vca">Envelopes &amp; VCA</h4>

         <center>
            <img src="images/Envelopes.png" alt="Envelopes" style="width:100%;margin-top:40px;margin-bottom:40px;"> </center>

         <ul>
            <li>
               <a href="https://modlfo.github.io/VultModules/spank/">Spank</a>: Drum Envelope.</li>
            <li>
               <a href="https://modlfo.github.io/VultModules/slap/">Slap</a>: Hitting Envelope.</li>
            <li>
               <a href="https://modlfo.github.io/VultModules/julste/">Julste</a>: Low Pass Gate. Buchla model.</li>
         </ul>
         <h4 id="drums">Drums</h4>

         <center>
            <img src="images/Drums.png" alt="Drums" style="width:100%;margin-top:40px;margin-bottom:40px;"> </center>

         <ul>
            <li>
               <a href="https://modlfo.github.io/VultModules/trummor/">Trummor</a>: Drums Synthesizer.</li>
            <li>
               <a href="https://modlfo.github.io/VultModules/trummor2/">Trummor 2</a>: Drum (Percussion) Synthesizer.</li>
         </ul>
         <h4 id="oscillators">Oscillators</h4>
         <center>
            <img src="images/Oscillators.png" alt="Oscillators" style="width:100%;margin-top:40px;margin-bottom:40px;"> </center>

         <ul>
            <li>
               <a href="https://modlfo.github.io/VultModules/vessek/">Vessek</a>: Complex Analog Oscillator.</li>
            <li>
               <a href="https://modlfo.github.io/VultModules/caudal/">Caudal</a>: Mechanical Chaos Source.</li>
         </ul>
         <h4 id="utilities">Utilities</h4>
         <center>
            <img src="images/Utilities.png" alt="Utilities" style="width:100%;margin-top:40px;margin-bottom:40px;"> </center>

         <ul>
            <li>
               <a href="flux/">Flux</a>: Quad Voltage Processor</li>
            <li>
               <a href="https://modlfo.github.io/VultModules/splie/">Splie</a>: Buffer</li>
            <li>
               <a href="https://modlfo.github.io/VultModules/hyperpower/">HyperPower</a>: Infinite Power Supply.</li>
            <li>
               <a href="https://modlfo.github.io/VultModules/panles/">Blank Panels</a>: Beautify your Rack.</li>
         </ul>
      </div>
   </div>
</div>

{{ partial "footer.html" . }}