{{ partial "header.html" . }}

<script src="js/grid.js"></script>
<script type="text/javascript">
   window.onload = populateGrid;
</script>
<div class="container">
   <div class="row">
      <div class="col-md-8">
         {{ partial "menu.html" . }}

         <center>
            <a target="_blank" rel="noopener noreferrer" href="https://www.vult-dsp.com"><img src="images/Vult.png"></a>
         </center>
         <center>
            <h1>Modules for VCV Rack</h1>
         </center>

         <p>
            This is a set of modules that have been carefully designed to fit the Eurorack style of VCV Rack. The
            modules are coded in the Vult programming language.
         </p>
         <p>
            The Vult modules are "Virtual Analog". The internals of the modules are modeled using electrical
            components and differential equations derived from my own and existing circuits. These modules are
            not copies of existing Eurorack modules. In the case of the filters the modules try to capture the
            essence and the sound of the analog versions, and at the same time provide very good performance.
            Some of the modules, like Trummor 2, were inspired by existing hardware but have evolved into complete
            original designs.
         </p>

         <h2>Design Philosophy</h2>

         <p>
            When designing these modules I have established the following rules:
         </p>
         <ul>
            <li>it should look like a real Eurorack module</li>
            <li>it should strike a good balance between performance and level of detail</li>
            <li>the interaction has to be limited to real hardware components (knobs, switches, etc.)</li>
            <li>if I cannot build the real hardware, I will not build the software</li>
            <li>and of course, the module needs to sound good</li>
         </ul>
         <p>Following these rules helps me constrain the ideas for modules I have. But I may break them
            in the future.
         </p>

         <h2> List of Modules </h2>

         <div>
            <div id="module-buttons">
            </div>
            <div id="module-tags">
            </div>
            <div id="modules">
            </div>
         </div>

      </div>
   </div>
</div>

{{ partial "footer.html" . }}