<ul class="nav nav-tabs">
   <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
   </li>
   <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
         aria-expanded="false">Filters</a>
      <div class="dropdown-menu">
         <a class="dropdown-item" href="/freak">Freak</a>
         <a class="dropdown-item" href="/vorg">Vorg</a>
         <a class="dropdown-item" href="/nurage">Nurage</a>
         <a class="dropdown-item" href="/ferox">Ferox</a>
         <a class="dropdown-item" href="/vortex">Vortex</a>
         <a class="dropdown-item" href="/tangents">Tangents</a>
         <a class="dropdown-item" href="/stabile">Stabile</a>
         <a class="dropdown-item" href="/unstabile">Unstabile</a>
         <a class="dropdown-item" href="/lateralus">Lateralus</a>
         <a class="dropdown-item" href="/rescomb">Rescomb</a>
         <a class="dropdown-item" href="/rescomb2">Rescomb 2</a>
         <a class="dropdown-item" href="/julste">Julste</a>
         <a class="dropdown-item" href="/tohe">Tohe</a>
      </div>
   </li>
   <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
         aria-expanded="false">Effects</a>
      <div class="dropdown-menu">
         <a class="dropdown-item" href="/debriatus">Debriatus</a>
         <a class="dropdown-item" href="/flame">Flame</a>
         <a class="dropdown-item" href="/nopskate">Nopskate</a>
         <a class="dropdown-item" href="/rescomb">Rescomb</a>
         <a class="dropdown-item" href="/rescomb2">Rescomb 2</a>
      </div>
   </li>
   <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
         aria-expanded="false">Synthesizers</a>
      <div class="dropdown-menu">
         <a class="dropdown-item" href="/incubus">Incubus</a>
      </div>
   </li>
   <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
         aria-expanded="false">Drums</a>
      <div class="dropdown-menu">
         <a class="dropdown-item" href="/knock">Knock</a>
         <a class="dropdown-item" href="/trummor">Trummor</a>
         <a class="dropdown-item" href="/trummor2">Trummor 2</a>
      </div>
   </li>
   <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
         aria-expanded="false">Oscillators</a>
      <div class="dropdown-menu">
         <a class="dropdown-item" href="/vessek">Vessek</a>
         <a class="dropdown-item" href="/caudal">Caudal</a>
         <a class="dropdown-item" href="/basal">Basal</a>
         <a class="dropdown-item" href="/bleak">Bleak</a>
         <a class="dropdown-item" href="/noxious">Noxious</a>
      </div>
   </li>
   <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
         aria-expanded="false">Utilities</a>
      <div class="dropdown-menu">
         <a class="dropdown-item" href="/leakage">Leakage</a>
         <a class="dropdown-item" href="/flux">Flux</a>
         <a class="dropdown-item" href="/spank">Spank</a>
         <a class="dropdown-item" href="/slap">Slap</a>
         <a class="dropdown-item" href="/knobs">Knobs</a>
         <a class="dropdown-item" href="/send">Send</a>
         <a class="dropdown-item" href="/bypass">Bypass</a>
         <a class="dropdown-item" href="/splie">Splie</a>
         <a class="dropdown-item" href="/hyperpower">HyperPower</a>
         <a class="dropdown-item" href="/panels">Blank Panel</a>
      </div>
   </li>
   <li class="nav-item">
      <a class="nav-link" href="/download">Download</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
   </li>
</ul>